<main>
    <section class="form-section">
        <img src="/assets/svg/logo.svg">
        <h2>{{title}}</h2>
        <ng-content></ng-content>
        <div class="button-wrapper">
            <button class="button-primary">
                {{primaryBtnText}}</button>
            <div class="divider">
                <div></div>
                    <span>or</span>
                <div></div>
            </div>
            <button class="button-secondary">
                {{secondaryBtnText}}</button>
        </div>
    </section>

    <section class="main-section">
        <h1>You Should, MoveIt</h1>
        <img src="assets/svg/main-section.svg">
    </section>
</main>